<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" href="/"><img src="/images/truck.jpg" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini" href="/"><img src="/images/truck.jpg" alt="logo" /></a>
  </div>
  <ul class="nav">
    <li class="nav-item profile">
      <div class="profile-desc">
        <div class="profile-pic">
          <div class="count-indicator">
            <% if (user && user._id) { %>
              <img class="img-xs rounded-circle" src="/images/faces/<%= user._id %>.jpg" alt="nincskep" onerror="this.src='/images/faces/default.jpg'">
            <% } else { %>
              <img class="img-xs rounded-circle" src="/images/faces/default.jpg" alt="">
            <% } %>
            <span class="count bg-success"></span>
          </div>
          <div class="profile-name">
            <h5 class="mb-0 font-weight-normal">
              <%= user ? user.name : 'Guest' %>
            </h5>
            <span>
              <%= user ? user.role : '' %>
            </span>
          </div>
        </div>
        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-settings text-primary"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-onepassword  text-info"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-calendar-today text-success"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
            </div>
          </a>
        </div>
      </div>
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link"><%= __('navigation') %></span>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title"><%= __('dashboard') %></span>
      </a>
    </li>
    <!-- chart icon: mdi mdi-chart-bar -->
    <% if (user && user.role === 'driver') { %>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/driver/my-trips">
          <span class="menu-icon">
            <i class="mdi mdi-car"></i>
          </span>
          <span class="menu-title"><%= __('my_trips') %></span>
        </a>
      </li>
    <% } else if (user && user.role === 'admin') { %>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/auth/register">
          <span class="menu-icon">
            <i class="mdi mdi-account-supervisor"></i>
          </span>
          <span class="menu-title"><%= __('register_new_employee') %></span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/remove-employee">
          <span class="menu-icon">
            <i class="mdi mdi-account-edit"></i>
          </span>
          <span class="menu-title"><%= __('remove_employee') %></span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/manage-trips">
          <span class="menu-icon">
            <i class="mdi mdi-account-supervisor"></i>
          </span>
          <span class="menu-title"><%= __('manage_trips') %></span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/bosses">
          <span class="menu-icon">
            <i class="mdi mdi-account-supervisor"></i>
          </span>
          <span class="menu-title"><%= __('manage_bosses') %></span>
        </a>
      </li>
    <% } else if (user && user.role === 'boss') { %>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/boss/my-drivers">
          <span class="menu-icon">
            <i class="mdi mdi-account-supervisor"></i>
          </span>
          <span class="menu-title"><%= __('list_of_drivers') %></span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/boss/trips">
          <span class="menu-icon">
            <i class="mdi mdi-account-edit"></i>
          </span>
          <span class="menu-title"><%= __('list_of_trips') %></span>
        </a>
      </li>
    <% } %>
  </ul>
</nav>